<html>
    <head>
        <title>Blog Django Girls</title>
    <body>
        <div>
            <h1><a ref="/">Blog Django Girls</a></h1>
        </div>

        <div>
            <p>publicado: 25.08.2022, 10:14</p>
                <h2><a href="">Meu primeiro post</a></h2>
                <p>Esse é o primeiro post de muitos outros que virão, sintam-se a vontade para conhecerem mais sobre a minha vida!</p>
            </div>

            <div>
                <p>publicado: 25.08.2022, 10:43</p>
                <h2><a href="">Meu segundo post</a></h2>
                <p>Me chamo Marlenne Roberta e gosto de várias coisas, uma delas é a técnologia!
                    Estou em uma fase bem legal da vida onde aprendo muitas coisas interessantes. Aprendendo sobre programação e suas diversas áreas de atuação como Front-end, Back-end, Dados entre muitas outras. Meu foco atual é me tornar desenvolvedora apta para atuar com sabedoria e poder me dedicar cada vez mais para conseguir crescer pessoalmente e profissionalmente nessa área que tanto gosto.</p>
                </div>
        
    </body>
</html>